name: OCPI CI

on:
    push:
        branches: [ "main" ]
    pull_request:
        branches: [ "**" ]

permissions:
    contents: read

jobs:
    build:

        concurrency: ocpi-ci

        runs-on: ubuntu-latest

        steps:
            -   name: Set up JDK 17
                uses: actions/setup-java@v3
                with:
                    java-version: '17'
                    distribution: 'temurin'

            -   name: Checkout IZIVIA OCPI toolkit library code from GH
                uses: actions/checkout@v3

            -   name: Setup gradle action
                uses: gradle/gradle-build-action@v2.10.0
                with:
                    gradle-version: wrapper
                    cache-read-only: ${{ github.ref != 'refs/heads/main' }}
                    gradle-home-cache-cleanup: true

            -   name: Publish annotation processor to maven local
                run: ./gradlew :annotation-processor:publishToMavenLocal

            -   name: Build OCPI toolkit
                run: ./gradlew build
